[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
randfacts = "*"
youtube-dl = "*"
httpx = "*"
beautifulsoup4 = "*"
pynacl = "*"
"discord.py" = {version = "*", extras = ["voice"]}

[dev-packages]

[requires]
python_version = "3.8"
